body {
	background-color: rgb(236, 236, 234);
}

#body-wrapper {
	position: absolute;
	top: 50px;
	width: 100%;
}

.form-error {
	display: block;
	color: rgb(190, 0, 0);
	font-size: .9em;
	font-family: GOOGLE;
	margin-bottom: 5px;
}









#confirm-logout-container {
	position: fixed;
	z-index: 2000;
	top: 105px;
	left: 370px;
	border-radius: 2px;
	border: 1px solid rgb(100, 100, 100);
	background-color: rgb(230, 230, 230);
	padding: 50px;
}

#confirm-logout-container label {
	display: block;
	font-family: GOOGLE;
	font-size: .85em;
}

#confirm-logout-container button {
	margin-top: 25px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgb(210, 210, 210);
	border-radius: 3px;
	font-family: GOOGLE;
	font-size: .85em;
	padding: 5px 10px;
}

#confirm-logout-container #confirm-logout-no {
	float: right;
	color: rgb(240, 240, 240);
	background-color: rgb(200, 0, 0);
}

#auto-logout {
	position: absolute;
	margin-top: 15px;
	margin-left: 50px;
	color: rgb(50, 50, 50);
}

#auto-logout span {
	color: red;
}













#background-blur {
	position: fixed;
	z-index: 1001;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

#header-bar {
	position: fixed;
	z-index: 500;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.035);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.035);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.035);
}

.logo-no-login {
	display: inline-block;
	margin-left: 294px;
	height: 50px;
	line-height: 50px;
	color: rgba(0, 0, 0, 0.75);
	font-size: 1.45em;
	font-family: fancy;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.beta-no-login {
	position: absolute;
	top: 32px;
	left: 600px;
	color: rgb(0, 150, 200);
	font-size: .6em;
	font-family: GOOGLE;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.logo-with-login {
	display: inline-block;
	margin-left: 250px;
	height: 50px;
	line-height: 50px;
	color: rgba(0, 0, 0, 0.75);
	font-size: 1.45em;
	font-family: fancy;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#header-logo:before, #header-logo:after {
	content: '';
	width: 5em;
	height: 1px;
	display: inline-block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.325);
	vertical-align: .35em;

}

.beta-with-login {
	position: absolute;
	top: 32px;
	left: 555px;
	color: rgb(0, 150, 200);
	font-size: .6em;
	font-family: GOOGLE;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#header-menu-button {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.05)
	border-radius: 2px;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#header-menu-button[data-state='closed'] {
	color: rgba(0, 0, 0, 0.7);
}

#header-menu-button[data-state='closed']:hover {
	color: black;
}

#header-menu-button[data-state='opened'] {
	color: rgb(250, 100, 0);
}

#header-menu-button[data-state='opened']:hover {
	color: rgb(255, 125, 0);
}

#header-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#header-menu {
	display: none;
	position: absolute;
	z-index: 99;
	top: 50px;
	left: 0px;
	padding: 5px 0px;
	background-color: rgb(250, 250, 250);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	font-family: GOOGLE;
	font-size: .9em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.header-menu-option {
	display: block;
	width: 175px;
	height: 28px;
	line-height: 28px;
	padding-left: 20px;
	cursor: pointer;
	pointer: hand;
}

.header-menu-option:hover {
	background-color: #C6E4F7;
}

#header-controls {
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 45px;
	height: 50px;
}

.header-control-button {
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	height: 48px;
	line-height: 48px;

	color: rgb(80, 80, 80);
	text-transform: capitalize;

	font-family: GOOGLE;
	font-size: .8em;
	text-align: center;
	
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.header-control-button[data-active='true'] {
	background-color: rgba(0, 0, 0, 0.03);
	color: rgb(250, 100, 0);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.header-control-button[data-active='false'] {
	background-color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}

.header-control-button:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#header-login-container {
	display: none;
	position: absolute;
	top: 50px;
	right: 114.5px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.125);
}

#header-login-button[data-state='opened'] {
	color: rgb(250, 100, 0);
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#header-login-container label {
	display: block;
	font-weight: bold;
	font-size: .75em;
	font-family: GOOGLE;
	margin-bottom: 5px;
}

#header-login-container input {
	display: block;
	padding-left: 5px;
	width: 250px;
	height: 28px;
	font-family: DX-REG;
	font-size: .9em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 5px;
}

#header-login-container input:hover {
	border: 1px solid rgba(0, 0, 0, 0.35);
}

#header-login-container input:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

#header-login-forgot {
	color: rgb(0, 190, 200);
	font-family: GOOGLE;
	font-size: .8em;
	float: right;
	margin-top: 5px;
	cursor: pointer;
	pointer: hand;
}

#header-login-container button {
	margin-top: 10px;
	width: 100%;
	height: 32px;
	font-size: .75em;
	font-family: GOOGLE;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.175);
	background-color: rgba(0, 0, 0, 0.075);
}

#header-login-container button:hover {
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.15);
}

#notification-container {
	position: fixed;
	z-index: 1005;
	top: 50px;
	right: 0px;
	padding-top: 25px;
	padding-right: 15px;
	width: 400px;
	height: calc(100vh - 75px);
	pointer-events: none;
}

.notification {
	display: block;
	float: right;
	font-family: GOOGLE;
	font-weight: normal;
	font-size: .9em;
	margin-bottom: 15px;
	width: 275px;
	height: 110px;
	padding: 5px;
	border-radius: 3px;
	pointer-events: auto;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.notification-text {
	display: block;
	width: 250px;
	margin-top: 5px;
	padding-left: 5px;
}

.close-notification-button {
	display: block;
	margin-top: -8px;
	margin-right: 5px;
	float: right;
	font-size: 2.25em;
	cursor: pointer;
	pointer: hand;
}

.high-alert-level {
	color: rgb(230, 230, 230);
	background-color: rgb(185, 0, 0);
}

.high-alert-level .close-notification-button {
	color: black;
}

.medium-alert-level {
	color: black;
	background-color: rgb(250, 100, 0);
}

.medium-alert-level .close-notification-button {
	color: black;
}

.low-alert-level {
	color: rgb(200, 200, 200);
	background-color: rgba(0, 0, 0, 0.8);
}

.low-alert-level .close-notification-button {
	color: rgb(210, 0, 0);
}

/*
<div class="center-col">
	<div class='feed-post'>
		<div class='post-hidden-info'>
			<span class='info-post-id'>some-post-id</span>
			<span class='info-post-timestamp'>some-timestamp</span>
			<span class='info-post-owner'>some-username</span>
			<span class='info-post-owner-id'>some-user-id</span>
		</div>
		<div class='inner-post-top'>
			<span class='post-owner'>some-username</span>
			<span class='post-timestamp'>some-timestamp</span>
			<span class='post-description'>
				This is a post description, this is for sale at low cost
				hmu for more info
			</span>
			<div class='post-image-container'>
				<img class='post-image primary-image' src='/img/landing_bg.jpg'>
			</div>
		</div>
		<div class='post-action-bar'>
			<span class='want-this'>Upvote</span>
			<div class='post-action-menu-container'>
				<img class='post-action-menu-button' src='/img/gear.png'>
				<ul class='post-action-menu-list'>
					<li>Subscribe</li>
					<li>Mark suspect</li>
				</ul>
			</div>
		</div>
	</div>
</div>
*/

#center-feed.auth {
	position: absolute;
	top: -5px;
	left: 275px;
	padding-top: 25px;
	width: 595px;
	margin-bottom: 175px;
}

#center-feed.unauth {
	position: absolute;
	top: -5px;
	left: 210px;
	padding-top: 25px;
	width: 595px;
	margin-bottom: 175px;
}

.feed-post {
	background-color: white;
	font-family: GOOGLE;
	margin-bottom: 15px;

	border: 1px solid rgb(220, 220, 220);

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

.post-timestamp {
}

.post-hidden-info {
	display: none;
}

.inner-post-top {
	padding: 5px;
}

.post-owner {
	display: inline-block;
	color: rgb(0, 190, 255);
	margin-left: 5px;
	font-size: .9em;
	font-family: GOOGLE;
	cursor: pointer;
	pointer: hand;
}

.post-timestamp {
	display: inline-block;
	font-size: .75em;
	float: right;
	color: rgb(130, 130, 130);
	cursor: pointer;
	pointer: hand;
}

.post-timestamp:hover {
	color: rgba(0, 0, 0, 2);
}

.post-timestamp:hover:after {
	content: attr(data-tooltip);
	color: rgb(130, 130, 130);
	text-decoration: underline;
}

.post-description {
	display: block;
	width: 98%;
	font-size: .9em;
	margin-left: 5px;
}

.inner-post-center {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.post-action-bar {
	padding: 10px 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.upvote-button {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	pointer: hand;
	opacity: .6;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.downvote-button {
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
	cursor: pointer;
	pointer: hand;
	opacity: .6;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.upvote-button:hover, .downvote-button:hover {
	opacity: 1;
}

.upvotes {
	display: inline-block;
	color: rgb(0, 175, 175);
}

.downvotes {
	display: inline-block;
	color: rgb(150, 0, 0);
}

.want-this-button {
	display: inline-block;
	padding: 6px 10px;
	font-size: .8em;
	color: #2b6dad;
	background-color: rgb(225, 250, 255);
	border: 1px solid rgba(100, 160, 200, 0.4);
	border-radius: 3px;
	cursor: pointer;
	pointer: hand;
}

.want-this-button:hover {
	border: 1px solid #2B6DAD
}

.want-this-divider {
	padding: 0px 2px;
	margin-left: 2px;
	margin-right: 2px;
	border-left: 1px solid #2b6dad;
}

.upvotes, .downvotes, .upvote-button, .downvote-button {
	display: none;
}

.comment-button {
	display: inline-block;
	font-size: .8em;
	border-radius: 3px;
	margin-left: 10px;
	color: rgb(110, 110, 110);
	cursor: pointer;
	pointer: hand;
}

.comment-button:hover {
	text-decoration: underline;
}


/*
"<div id='comment-section-container'>" +
	"<div id='new-comment-container'>" +
		"<textarea id='comment-field'></textarea>" +
		"<button id='comment-button'>Post</button>" +
	"</div>" +
"</div>" +
*/

#comment-section-container {
}

#comment-section-container-fake{
	display: block;
	padding: 6px;
}

#comment-field-placeholder {
	width: 566px;
	height: 22px;
	color: rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 2px 3px;
	font-size: .9em;
	font-family: GOOGLE;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: text;
	position: text;
}

#comment-field-placeholder:hover {
	border: 1px solid rgba(0, 0, 0, 0.4);
}

#new-comment-container {
	display: block;
	padding-left: 10px;
	padding-right: 17px;
}

#comment-field {
	margin-top: -7px;
	width: 100%;
	padding: 2px 3px;
	font-size: .9em;
	font-family: GOOGLE;
	height: 60px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#comment-field:focus {
	outline: none;
}

#comment-button {
	display: block;
	border: none;
	background-color: rgb(0, 150, 200);
	width: 67px;
	height: 26px;
	margin-left: 507px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: .8em;
	color: rgb(240, 240, 240);
}

.post-action-menu-container {
	display: inline-block;
	float: right;
}

.post-action-menu-button {
	margin-top: -20px;
	font-size: .8em;
	padding: 7px;
	cursor: pointer;
	pointer: hand;
}

.post-action-menu-list {
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
	right: 0px;
	font-size: .9em;
	list-style: none;
	border: 1px solid rgb(175, 200, 255);
	border-radius: 3px;
	background-color: rgb(225, 250, 255);
}

.post-action-menu-list:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: rgba(204,204,204,0);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 8px solid rgb(175, 200, 255);
	border-width: 8px;
	left: 14px;
	margin-top: -9px;
	margin-left: 133px;
}

.post-action-menu-list:after {
	position: absolute;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: rgba(204,204,204,0);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 8px solid rgb(225, 250, 255);
	left: 14px;
	top: 0px;
	margin-top: -7px;
	margin-left: 118.2px;
}

.post-action-menu-list li {
	width: 150px;
	padding: 5px 0px;
	padding-left: 10px;
	border-top: 1px solid rgba(175, 200, 255, 0.6);
	color: #2b6dad;
	cursor: pointer;
	pointer: hand;
}

.post-action-menu-list li:first-child {
	border-top: 1px solid rgba(175, 200, 255, 0);
}

.post-action-menu-list li:first-child:hover {
	border-top: 1px solid rgb(175, 200, 255);
}

.post-action-menu-list li.hover:first-child:before {
	position: absolute;
	z-index: 1;
	content: '';
	width: 0;
	height: 0;
	border-color: rgba(204,204,204,0);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 8px solid rgb(175, 250, 255);
	left: 14px;
	top: 0px;
	margin-top: -6px;
	margin-left: 118.2px;
}

.post-action-menu-list li:hover {
	background-color: rgb(175, 250, 255);
}

/*
	Post images should be split in a way there are small
	previews of each image under the main box, which is filled with
	the currently selected image
*/
#post-image-selected {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 1);
}

#post-image-selected img {
	display: block;
	max-width: 100%;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#post-image-preview-container {
	margin-top: 5px;
	border: 1px dotted rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5px;
}

#post-image-preview-container .preview {
	display: inline-block;
	margin-top: 5px;
	width: 75px;
	margin-right: 5px;
	border: 5px solid rgba(0, 0, 0, 0.0);
	border-radius: 3px;
	vertical-align: top;
	padding: 1px;
	cursor: pointer;
	pointer: hand;
}

#post-image-preview-container .preview:hover {
}

#post-image-preview-container .preview img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

#post-image-preview-container .preview-selected {
	border: 5px dotted rgba(0, 150, 200, 1)
}

.full-description {
	display: none;
}

.description-show-more, .description-show-less {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	pointer: hand;
}







#post-form-container {
	position: absolute;
	z-index: 102;
	top: 25px;
	left: 275px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	background-color: rgb(230, 230, 230);
}

#post-form-container[data-visible='false'] {
	display: none;
}

#post-form-container[data-visible='true'] {
	display: inline-block;
}

#post-form {
	padding: 10px;
}

#post-form-validator {
	display: none;
}

#post-form-description {
	min-width: 428px;
	height: 180px;
	margin-bottom: 10px;
	font-size: .9em;
	font-family: GOOGLE;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

#post-form-description:focus {
	outline: none;
}

#post-form label {
	display: block;
	margin-bottom: 5px;
	font-size: .75em;
	font-weight: bold;
	font-family: GOOGLE;
}

#post-form-description[contenteditable='true']:empty:not(:focus):before {
	color: black;
	content: 'Enter a description...';
}

#post-form-button {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 125px;
	height: 32px;
	font-size: .8em;
	font-weight: bold;
	font-family: GOOGLE;
	border-radius: 2px;
}

#post-form[data-valid='true'] ~ #post-form-button {
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(100, 175, 225);
}

#post-form[data-valid='false'] ~ #post-form-button {
	color: rgb(150, 150, 150);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(200, 200, 200);
}

#post-form[data-valid='false'] ~ #post-form-button:active {
	outline: none;
}

.hidden-input {
	display: none;
}

.handler-container {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}

.photo-handler {
	max-width: 100px;
	border-radius: 2px;
	cursor: pointer;
	pointer: hand;
}

.handler-container[data-visible='false'] {
	display: none;
}

.handler-container[data-visible='true'] .photo-handler {
	border: 2px dotted rgba(0, 0, 0, .3);
}

.photo-remover {
	cursor: pointer;
	pointer: hand;
}

.handler-container[data-active='true'] .photo-remover {
	position: absolute;
	display: inline-block;
	margin-top: 2px;
	margin-left: 2px;
	padding: 5px 10px;
	color: rgb(241, 241, 241);
	background-color: rgba(0, 0, 0, 0.7);
}

.handler-container[data-active='true'] .photo-remover:hover {
	color: rgb(200, 200, 200);
	background-color: rgba(0, 0, 0, 0.5);
}

.handler-container[data-active='false'] .photo-remover {
	display: none;
}

/*

<div id='post-type-container'>
<span data-selected='true' data-value='sale' id='post-type-left' class='post-type'>Sale</span>
<span data-selected='false' data-value='general' id='post-type-right' class='post-type'>General Post</span>
</div>

*/

#post-type-container {
	display: block;
	margin-bottom: 15px;
}

#post-type-left {
}

#post-type-right {
}

.post-type {
	width: 95px;
	padding: 5px 10px;
	opacity: .7;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
	font-family: GOOGLE;
	font-size: .85em;
	color: rgb(100, 100, 100);
	background-color: rgb(200, 200, 200);
	border: 1px solid rgba(0, 0, 0, 0.175);
	cursor: pointer;
	pointer: hand;
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.125);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.125);
}

#post-form[data-type='sale'] .post-type[data-value='sale'],
#post-form[data-type='general'] .post-type[data-value='general'] {
	opacity: 1;
	color: black;
	background-color: rgb(0, 200, 255);
}

.post-type[data-selected='false']:hover {
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.175);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.175);
}

#forgot-container {
	position: absolute;
	top: 75px;
	left: 25px;
}

#forgot-header {
	position: absolute;
	top: 25px;
	left: 390px;
	font-size: 1.15em;
	font-family: GOOGLE;
}

#forgot-landing-header {
	position: absolute;
	top: 25px;
	left: 310px;
	font-size: 1.15em;
	font-family: GOOGLE;
}

#reset-landing-header {
	position: absolute;
	top: 25px;
	left: 375px;
	font-size: 1.15em;
	font-family: GOOGLE;
}

#forgot-return {
	position: absolute;
	top: 60px;
	left: 410px;
	color: teal;
	font-family: GOOGLE;
}

#forgot-type-container {
	margin-left: -12px;
	margin-bottom: 10px;
}

.radio-button {
	width: 12px;
	height: 12px;
}

#forgot-type-container label {
	font-family: GOOGLE;
	font-size: .9em;
	width: 200px;
	display: inline-block;
	text-align: left;
}

#forgot-form {
	margin-top: 10px;
	margin-left: 385px;
	font-family: GOOGLE;
}

#forgot-form input[type='text'] {
	font-size: .9em;
	width: 300px;
	height: 20px;
	margin-left: -60px;
	padding-left: 5px;
}

#forgot-form input[type='text']:focus {
	outline: none;
}

#forgot-button {
	margin-top: 5px;
	margin-left: 508.5px;
	font-size: .8em;
	font-family: GOOGLE;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgb(250, 100, 0);
	width: 125px;
	height: 26px;
}

#password-reset-header {
	position: absolute;
	top: 25px;
	left: 417px;
	color: rgb(250, 50, 0);
	font-size: 1.2em;
	font-family: GOOGLE;
}

#password-reset-form {
	position: absolute;
	top: 75px;
	left: 350px;
}

#password-reset-form label {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-family: GOOGLE;
}

#password-reset-form input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
	padding-left: 5px;
	width: 300px;
	height: 26px;
	font-size: .9em;
	font-family: GOOGLE;
}

#password-reset-form input:focus {
	outline: none;
}

#reset-button {
	position: absolute;
	top: 225px;
	left: 506px;
	font-size: .9em;
	font-family: GOOGLE;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgb(250, 100, 0);
	width: 150px;
	height: 26px;
}

#account-tabs-container {
	position: absolute;
	top: 25px;
	left: 5px;
	width: 175px;
}

#account-tabs-label {
	display: block;
	padding-bottom: 5px;
	font-family: GOOGLE;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.account-tab {
	display: block;
	font-size: .85em;
	margin-top: 5px;
	width: 60px;
	padding: 2px 5px;
	padding-left: 7px;
	border-radius: 4px;
	font-family: GOOGLE;
	font-size: .85em;
}

.account-tab[data-selected='true'] {
	background-color: rgba(0, 0, 0, 0.075);
}

.account-tab[data-selected='true']:hover {
	background-color: rgba(100, 100, 100, 0.075);
	cursor: default;
	pointer: default;
}

.account-tab[data-selected='false']:hover {
	color: rgb(0, 100, 200);
	cursor: pointer;
	pointer: hand;
}




#account-view-container {
	position: absolute;
	top: 25px;
	left: 250px;
	width: 500px;
}

#account-view-label {
	display: block;
	padding-bottom: 5px;
	font-family: GOOGLE;
}

#email-view-container {
}

#primary-email-label {
	padding-right: 75px;
	font-size: .85em;
	font-weight: bold;
}

#secondary-email-label {
	display: inline-block;
	width: 170px;
}

#remove-secondary-email {
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	color: rgb(150, 150, 150);
	float: right;
	height: 28px;
	line-height: 28px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0px 10px;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	pointer: hand;
}

#remove-secondary-email:hover {
	color: black;
}

#password-label {
	float: left;
	width: 170px;
	font-size: .85em;
	font-weight: bold;
}

#change-password-button {
	color: rgb(0, 100, 200);
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.add-new-button {
	color: rgb(0, 100, 200);
	cursor: pointer;
	pointer: hand;
}

#primary-email-row, #secondary-email-row {
	display: block;
}

.email {
	font-family: GOOGLE;
	font-size: .8em;
}

.email:not(.add-new-button):not(.add-new):not(.filled) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	width: 326px;
	height: 25px;
	line-height: 25px;
	padding: 5px 0px;
}

.add-new-button {
	height: 30px;
	line-height: 25px;
}

.add-new {
	display: inline-block;
	margin-top: 5px;
}

#password-view-container,
#email-view-container,
#connect-account-container {
	display: block;
	padding: 5px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.add-new input {
	font-family: GOOGLE;
	font-size: .9em;
	padding-left: 5px;
	height: 22px;
}

.add-new input:focus {
	outline: none;
}

.add-new-submit {
	display: block;
	width: 75px;
	height: 24px;
	line-height: 22px;
	font-family: GOOGLE;
	font-size: .9em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	background-color: rgb(0, 200, 255);
}

#confirm-password-form {
	position: absolute;
	z-index: 1002;
	top: 125px;
	left: 335px;
	color: black;
	background: rgb(230, 230, 230);
	width: 250px;
	height: 120px;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

#confirm-password-form .error {
	font-size: .75em;
}

#confirm-password-form #submit-button {
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(240, 240, 240);
	padding: 5px 15px;
	width: 257px;
	height: 32px;
	font-family: GOOGLE;
	font-size: .8em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#confirm-password-form #cancel-button {
	float: right;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-top: -20px;
	margin-right: -10px;
	color: red;
	font-family: GOOGLE;
	font-weight: bold;
	cursor: pointer;
	pointer: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#confirm-password-form-header {
	display: block;
	font-weight: bold;
	font-size: .9em;
	font-family: GOOGLE;
	margin-top: -5px;
	margin-bottom: 5px;
	text-align: center;
	color: rgb(90, 90, 90);
	margin-left: 20px;
}

#confirm-password-form label {
	display: block;
	font-weight: bold;
	font-size: .8em;
	font-family: GOOGLE;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#confirm-password-form input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-left: 5px;
	font-family: GOOGLE;
	font-size: .9em;
	height: 24px;
	margin-top: 10px;
	width: 250px;
}

#confirm-password-form input:focus {
	outline: none;
}

#change-password-form {
	display: inline-block;
}

#change-password-form label {
	display: block;
	margin-bottom: 5px;
	font-family: GOOGLE;
	font-size: .8em;
	font-weight: bold;
}

#change-password-form input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-left: 5px;
	font-family: GOOGLE;
	font-size: .9em;
	height: 24px;
	margin-bottom: 5px;
	width: 250px;
}

#change-password-form input:focus {
	outline: none;
}

#change-password-form button {
	display: block;
	width: 257px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(100, 200, 255);
	padding: 5px 15px;
	margin-top: 5px;
	font-family: GOOGLE;
	font-size: .8em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#password-row {
	border: 1px solid red;
}





#blocked-users-container {
	position: absolute;
	top: 27px;
	width: 500px;
	display: block;
	padding: 5px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#blocked-users-controls {
	position: absolute;
	margin-top: 5px;
	margin-left: 510px;
	width: 150px;
}

#blocked-users-controls .control-row {
	display: inline-block;
	margin-bottom: 5px;
}

.control-row label {
	margin-left: 5px;
	font-family: GOOGLE;
	font-size: .85em;
}

#blocked-users-controls button {
	width: 26px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	font-family: GOOGLE;
	font-weight: bold;
	font-size: .6em;
	border-radius: 3px;
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(210, 210, 210);
	cursor: pointer;
	pointer: hand;
}

#blocked-users-controls button:focus {
	outline: none;
}

#blocked-users-list {
	display: block;
	margin-top: 5px;
	height: 500px;
	border: 1px solid rgb(150, 150, 150);
	background-color: white;
	overflow: scroll;
	font-size: .85em;
	font-family: GOOGLE;
}

#blocked-users-list .blocked-user {
	display: block;
	padding-left: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	pointer: hand;
}

#blocked-users-list .blocked-user[data-selected="true"] {
	background-color: rgba(0, 150, 200, 0.5);
}









#block-user-form {
	position: absolute;
	z-index: 1002;
	top: 125px;
	left: 375px;
	width: 245px;
	height: 95px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: rgb(230, 230, 230);
}

#block-user-form label {
	display: block;
	margin-top: -5px;
	font-family: GOOGLE;
	font-size: .9em;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#block-user-form input {
	display: block;
	margin-top: 5px;
	padding-left: 2px;
	width: 240px;
	height: 24px;
	font-size: .9em;
}

#block-user-form input:focus {
	outline: none;
}

#block-user-form button {
	margin-top: 5px;
	font-family: GOOGLE;
	font-size: .85em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(200, 200, 200);
	width: 75px;
	height: 28px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#block-user-add {
}

#block-user-cancel {
	float: right;
}

#activation-success,
#activation-empty,
#activation-failed {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-left: -25px;
	font-size: 1.15em;
	font-family: GOOGLE;
}

#activation-success {
	color: rgb(0, 175, 200);
}

#activation-failed {
	color: rgb(241, 0, 0);
}


#tips-container {
	position: absolute;
	z-index: 1001;
	top: 100px;
	left: 285px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: rgb(241, 241, 241);
	border-radius: 2px;
}

#tips-header {
	position: absolute;
	margin-top: -25px;
	font-size: .8em;
	font-weight: bold;
	font-family: GOOGLE;
}

#tips-header.success {
	margin-left: 100px;
	font-size: 1em;
}

#tips-container textarea {
	width: 400px;
	height: 110px;
	font-family: GOOGLE;
	font-size: .9em;
}

#tips-container textarea:focus {
	outline: none;
}

#tips-container button.good {
	display: inline-block;
	width: 100px;
	height: 28px;
	font-size: .8em;
	font-weight: bold;
	font-family: GOOGLE;
	border: 1px solid rgba(100, 100, 100, 0.5);
	background-color: rgb(200, 200, 200);
}

#tips-container button.bad {
	display: inline-block;
	float: right;
	width: 100px;
	height: 28px;
	font-size: .8em;
	font-weight: bold;
	font-family: GOOGLE;
	border: 1px solid rgb(190, 0, 0);
	background-color: rgb(220, 0, 25);
}

#left-panel {
	position: fixed;

	top: 70px;
	margin-left: 10px;
	
	width: 240px;
	height: 83vh;

	font-family: GOOGLE;
	background-color: white;
	border: 1px solid rgb(220, 220, 220);

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

#left-panel.unauth {
	position: fixed;

	top: 70px;
	margin-left: 10px;
	
	width: 240px;
	height: 150px;

	font-family: GOOGLE;
	background-color: white;
	border: 1px solid rgb(220, 220, 220);

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

#left-panel #search-container {
	display: block;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#left-panel #search-container #text,
#left-panel #search-container button {
	display: inline-block;
	margin: 0px;

	height: 28px;
	line-height: 28px;

	font-size: .8em;

	border: 1px solid rgb(220, 220, 220);

	vertical-align: top;
}

#left-panel #search-container #text {
	width: 160px;
	padding-left: 5px;

	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
}

#left-panel #search-container button {
	width: 55px;
	height: 32px;

	border: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	background-color: rgba(0, 200, 225, 0.4);

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;
}

#left-panel #search-container button:hover {
	background-color: rgba(0, 200, 225, .8);
}

#left-panel #search-container #text:focus,
#left-panel #search-container button:focus {
	outline: none;
}

#left-panel #search-container #text:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-right: none;
}

#left-panel label {
	margin-left: 10px;
	width: 150px;
	padding: 0px 15px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

#left-panel #controls-label {
	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
}

#left-panel #controls-container {
	display: table;
	padding: 0px 15px;
}

#left-panel .control:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.075);
}

#left-panel .control {
	display: table-cell;

	width: 100px;
	padding: 10px 0px;

	font-size: .8em;

	border-top: 1px solid rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-right: 1px solid rgba(0, 0, 0, 0.075);

	background-color: rgba(0, 150, 225, 0.15);

	text-align: center;

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	cursor: pointer;
	pointer: hand;
}

#left-panel .control:focus {
	background-color: rgba(0, 125, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#left-panel .control:hover {
	background-color: rgba(0, 125, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#left-panel #view-container {
	display: table;
	padding: 0px 15px;
}


#left-panel #views-label {
	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
}


#left-panel .view {
	display: table-cell;

	width: 100px;
	padding: 10px 0px;

	text-align: center;
	font-size: .8em;

	border-top: 1px solid rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-right: 1px solid rgba(0, 0, 0, 0.075);

	background-color: rgba(0, 125, 225, 0.15);

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	cursor: pointer;
	pointer: hand;
}


#left-panel .view[data-selected='true'] {
	background-color: rgba(0, 125, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}


#left-panel .view:hover {
	background-color: rgba(0, 125, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}





